<p class="title">Soft Skills</p>
<p class="subtitle">Strengths + Passions</p>
<hr>
<div class="columns content">
  <div class="column">
    <ul>
      {{#each model.column_1 as |skill|}}
      <li>{{skill}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="column">
    <ul>
      {{#each model.column_2 as |skill|}}
      <li>{{skill}}</li>
      {{/each}}
    </ul>
  </div>
</div>
