<div class="columns">
  <div class="column">
  <h2 class="title">CULTURE + BIO</h2>
  <hr>
  <div class="box">
    <div class="content">
      <p class="title is-4">Musician, Beer Geek, JavaScript Enthusiast.</p>
      <p>I've spent more than half my life living in Denver, and after years providing IT training, support, and consultation
        I decided to go for broke and pursue programming as a full-time career. Now, nothing is as fun, challenging, or rewarding
        for me than creating elegant, scalable, performant software solutions with JavaScript.</p>
      <p>
        I love writing static front-end pages, server-side rendered applications, single-page apps and everything in between. As
        a lifelong learner, my passion is discovering and improving skills every day, and with a heart for training, mentoring,
        and development, I love sharing what I learn and helping others level up.
      </p>
    </div>
  </div>
</div>
</div>
