<h2 class="title">SKILLS + STRENGTHS</h2>
<hr>
<div class="box columns">
  <div class="column">
    <div class="columns">
      <div class="column">
        {{resume-skills-tech model=model.tech}}
      </div>
      <div class="column">
        {{resume-skills-soft model=model.soft}}
      </div>
    </div>
  </div>
</div>
