<nav class="nav">
  <div class="nav-left">
    <a href="/" class="nav-item">
      <span>&ltSeanBrage/&gt</span>
    </a>
  </div>
  <div class="nav-center">
    <a href="https://github.com/bargeruns" target="_blank" class="nav-item">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a href="https://linkedin.com/in/seanmbrage" target="_blank" class="nav-item">
      <span class="icon"><i class="fa fa-linkedin"></i></span>
    </a>
    <a href="mailto:iamseanbrage@gmail.com" class="nav-item">
      <span class="icon"><i class="fa fa-envelope"></i></span>
    </a>
    <a href="tel:+13039106963" class="nav-item">
      <span class="icon"><i class="fa fa-phone"></i></span>
    </a>
  </div>
</nav>
