<div class="container">
  <h2 class="title">Skills & Technologies</h2>
  <hr>
  <div class="columns">
    <div class="column">
      {{> skills/tech}}
    </div>
    <div class="column">
      {{> skills/skills}}
    </div>
    </div>
  </div>
</div>
