<div class="container columns">
  <div class="column">
    <h2 class="title">SKILLS + STRENGTHS</h2>
    <hr>
    <div class="columns">
      <div class="column">
        {{> skills/tech}}
      </div>
      <div class="column">
        {{> skills/skills}}
      </div>
    </div>
  </div>
</div>
