<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>SEANMBRAGE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <section class="section bio">
    {{> bio}}
  </section>
  <section class="section skills">
    {{> skills}}
  </section>
  <section class="section history">
    {{> history}}
  </section>
</body>

</html>
