<div class="container-fluid">
<div class="row-fluid well">
  <h2 class="heading"><i class="fa fa-chevron-right"></i>Sean Brage</h2>
  <h4><i class="fa fa-chevron-right"></i>Full-Stack Developer</h4>
  <p>I really, really love to code. My love for technology goes back to my earliest days, writing programs in QBasic and trying to figure out how just about anything with a circuit board worked.
  As I got older, it was this love of tech that led me to work at the Apple Store, which led into a 5-year career in IT. Doing everything from non-profit helpdesk support to IT consulting accross Denver, I was exposed to a wide gamut of what the IT industry had to offer. As I entered the 5th year in the field, it became clear that IT support and consulting just wasn't a good fir for me, and on a whim I took a Python course through Red Rocks Community College.
</p>
<p>
  The rest, as they say is history. I enrolled in the Galvanize full-stack intensive, and found out that I don't just like coding - I <strong>love</strong> it. When I'm not trying to learn a new framework or improve my skills with an existing one, there's a strong chance I'm playing ping-pong or enjoying a nice IPA with some friends.</p>

  <p>I'm Sean, and we should make something awesome together.</p>
</div>
</div>
