<div class="container-fluid">
  <div class="col-md-8 well">
    <h3 class="heading"><i class="fa fa-chevron-right heading"></i>Work Experience</h3>
    <div class="container-fluid">
      <h4><i class="fa fa-chevron-right"></i>Network Consultant, BNC Systems - 1 year</h4>
      <p>
        Was primary point-of-contact and IT systems support for a wide range of companies in the Denver metro area, from 12-person non-profits to a 100+ person medical facility.
      </p>
    </div>

    <div class="container-fluid ">
      <h4><i class="fa fa-chevron-right"></i>Executive Support Analyst, SquareTwo Financial - 1 year</h4>
      <p>
        Provided exclusive technical support to C-level executive team, and was lead OS X support analyst/integration specialist.
      </p>
    </div>
    <div class="container-fluid ">
      <h4><i class="fa fa-chevron-right"></i>Tecnical Engineer, Greystone Technology Group - 1 year</h4>
      <p>
        Onsite IT consulting and remote support for a large client base of Denver companies.
      </p>

    </div>
    <div class="container-fluid ">
      <h4><i class="fa fa-chevron-right"></i>IT Support Analyst, Cherry Hills Christian School - 2 years</h4>
      <p>
        T1 and T2 support for staff and students in a K-8 private school. Worked with Integration Specialist on a full 1:1 iPad deployment, one of the first such deployments in Colorado.
      </p>

    </div>
    <div class="container-fluid ">
      <h4><i class="fa fa-chevron-right"></i>Trainer, Apple - 5 years</h4>
      <p>
        Facilitated in-store classes and workshops for customers, delivered job role training to employees, and provided support and repairs at the Genius Bar as needed.
      </p>

    </div>
    <h3 class="heading"><i class="fa fa-chevron-right heading"></i>Education</h3>
    <div class="container-fluid ">
      <h4><i class="fa fa-chevron-right"></i>Galvanize, Full-Stack Intensive</h4>
      <p>
        Graduate of the full-stack intensive program, where I received in-depth instruction and hands-on experience with modern web development techniques and technologies.
      </p>

    </div>
  </div>
  <div class="col-md-4">
    <div class="row-fluid well">
      <h4 class="heading"><i class="fa fa-chevron-right heading"></i>Languages / Frameworks</h4>
      <ul class="">
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>Ruby</li>
        <li>Rails</li>
        <li>Node</li>
        <li>Express</li>
        <li>React</li>
        <li>Bootstrap</li>
        <li>Jade</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </div>
    <div class="row-fluid well">
      <h4 class="heading"><i class="fa fa-chevron-right heading"></i>Tools</h4>
      <ul class="">
        <li>MongoDB</li>
        <li>Mongoose</li>
        <li>PostgreSQL</li>
        <li>Knex</li>
        <li>Promises</li>
        <li>Git / Github</li>
        <li>CLI</li>
        <li>Unix</li>
        <li>OS X</li>
        <li>Jasmine</li>
        <li>Mocha / Chai</li>
        <li>Firebase</li>
        <li>Heroku</li>
      </ul>
    </div>
    <div class="row-fluid well">
      <h4 class="heading"><i class="fa fa-chevron-right heading"></i>Techniques</h4>
      <ul class="">
        <li>Agile</li>
        <li>Test-Driven Development</li>
        <li>Pair Programming</li>
        <li>Pomodoro</li>
        <li>GTD</li>
      </ul>
    </div>
    <div class="row-fluid well">
      <h4 class="heading"><i class="fa fa-chevron-right heading"></i>Interests / Other Skills</h4>
      <ul class="">
        <li>Music / Songwriting</li>
        <li>Blogging</li>
        <li>Craft Beer (Consumption)</li>
        <li>Ping Pong (Chinese pencil grip)</li>
      </ul>
    </div>
  </div>
</div>
