<div class="card">
  <div class="card-header">
    <p class="card-header-title">Skills & Passions</p>
  </div>
  <div class="card-content columns">
    <div class="columns">
      <div class="column">
        <ul>
          <li>Written & Verbal Communication</li>
          <li>Strategy & Implementation</li>
          <li>Ideation & Iteration</li>
          <li>Mentoring & Development</li>
        </ul>
      </div>
    </div>
  </div>
</div>
