<div class="box">
  <p class="title">Soft Skills</p>
  <p class="subtitle">Strengths + Passions</p>
  <hr>
  <div class="columns content">
    <div class="columns">
      <div class="column">
        <ul>
          <li>Written Communication</li>
          <li>Strategy</li>
          <li>Ideation</li>
          <li>Mentoring</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>Public Speaking</li>
          <li>Implementation</li>
          <li>Iteration</li>
          <li>Development</li>
        </ul>
      </div>
    </div>
  </div>
</div>
