<div class="box">
  <p class="title">Tech Skills</p>
  <p class="subtitle">Frameworks, Libraries + More</p>
  <hr>
  <div class="columns content">
    <div class="column">
      <ul>
        {{#each skills.tech.column_1}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="column">
      <ul>
        {{#each skills.tech.column_2}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
