<div class="column">
  <div class="box">
    <p class="title">seanbrage.com</p>
    <p class="subtitle">Personal resume, portfolio, demos and more.</p>
    <div class="level">
      <p class="level-item">
        <a href="http://seanbrage.com">View Live</a>
      </p>
      <p class="level-item">
        <i class="fa fa-github"></i>
        <a href="">View on Github</a>
      </p>
    </div>
  </div>
</div>
<div class="column">
  <div class="box">
    <p class="title">seanbrage.com</p>
    <p class="subtitle">Personal resume, portfolio, demos and more.</p>
    <div class="level">
      <p class="level-item">
        <a href="http://seanbrage.com">View Live</a>
      </p>
      <p class="level-item">
        <i class="fa fa-github"></i>
        <a href="">View on Github</a>
      </p>
    </div>
  </div>
</div>
