<div class="columns">
  <div class="column">
    <div class="box">
      <p class="title">Work Experience</p>
      <hr> {{#each history.jobs}}
      <div class="column">
        {{> history/job}} 
        <p class="title is-5">Reference(s):</p>
        <div class="columns">
          {{#each references}}
          {{> history/reference}}
        {{/each}}
        </div>
      </div>
      <hr>
      {{/each}}
    </div>
  </div>
</div>
