$black: #282424;
$white: #f5f5f5;
$red: #d52b1e;

.bg {
    &--red {
	background-color: $red;
	color: $white;
    }

    &--white {
	background-color: $white;
	color: $black;
    }

    &--black {
	background-color: $black;
	color: $white;
    }
}
