@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&family=Source+Sans+Pro:wght@300;400&display=swap');

// override Bulma theme
$background: $white;
$link: $red;
$family-sans-serif: 'Source Sans Pro', sans-serif;
$family-monospace: 'IBM Plex Mono', sans-serif;
$family-primary: $family-sans-serif;

html,
body {
  padding: 0px;
}

h1,h2,h3,h4,h5,h6,.title,.subtitle {
    font-family: $family-monospace;
    text-transform: uppercase;
}

h1, h2, h4, h6 {
    font-weight: 700 !important;
}
p, a, span {
    font-family: $family-sans-serif;
    font-weight: 400;
}

@import '../../node_modules/bulma/bulma.sass';
