<section class="section">
  {{resume-bio}}
</section>
<section class="section">
  {{resume-skills model=model.skills}}
</section>
<section class="section">
  {{history-list title="Work History" model=model.work}}
</section>
{{outlet}}
